<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8"  >
    <title> WebApp </title>
</head>
<body>
    <p> login form! </p>

    <form method="post" action="/" th:object="${user_form_obj}">
        <input type="text" value="user_email" placeholder="Your email" th:field="*{userEmail}"  />
        <input type="text" value="user_password" placeholder="Your password" th:field="*{userPass}"/>
        <input type="submit" value="Go" />
    </form>

</body>
</html>