<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8"  >
    <title> WebApp </title>
</head>
<body>
    <p> login form! </p>

    <form method="post" th:object="${user}">
        <input type="text" value="user_email" placeholder="Your email" th:field="*{userEmail}" />
        <input type="text" value="user_password" placeholder="Your password" data-th-field="*{userPass}" />
        <input type="submit" value="Go" />
        <div class="login_error">
            <p data-th-if="${#fields.hasErrors('userEmail')}" data-th-error="*{userEmail}"> Incorrect email </p>
            <p data-th-if="${#fields.hasErrors('userPass')}" data-th-error="*{userPass}"> Incorrect password </p>
        </div>
    </form>

</body>
</html>