<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8"  >
    <title> WebApp </title>
</head>
<body>
    <p> login form! </p>

    <form method="post" th:action="@{/}" th:object="${userObj}">
        <input type="text" value="user_email" placeholder="Your email" th:field="*{userEmail}"  />
        <p th:if="${#fields.hasErrors('userEmail')}" th:errors="*{userEmail}"> Email is incorrect. </p>
        <input type="text" value="user_password" placeholder="Your password" th:field="*{userPass}"/>
        <p th:if="${#fields.hasErrors('userPass')}" th:errors="*{userPass}"> Password is incorrect. </p>
        <input type="submit" value="Go" />
    </form>

    <br>

    <a href="#" th:href="@{/register}"> Registration form </a>

</body>
</html>