<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title> Registration </title>
</head>
<body>

    <h2> Registration form </h2>

    <form method="post" th:action="@{/register}" >
        <div th:object="${userObj}">
        <!--
            User object:
                User email field:
        -->
        <input type="text" value="userEmail" placeholder="Your email"
               th:field="*{userEmail}"  />
        <!--   User password field:  -->
        <input type="text" value="userPass" placeholder="Enter password"
               th:field="*{userPass}"  />
        </div>

        <hr>
        <div th:object="${userDetailObj}">
        <!--
            User detail object:
                First name (fname) field:
        -->
        <input type="text" value="fname" placeholder="Your first name"
               th:field="*{fName}" />
        <!--    Last name (lname) field: -->
        <input type="text" value="lname" placeholder="Your last name"
               th:field="*{lName}" />

        <!--    Birth date (birthDate) field: -->
        <input type="date" value="birthDate" placeholder="Your birth date 2017-11-23"
               th:field="*{birthDate}" min="1970-01-01" max="2019-12-31" />

        <hr>

        <input type="radio" id="male" value="m" name="gender"
               th:field="*{sex}" th:value="m" th:id="male" th:name="gender"  />
        <label for="male" th:text="male" th:for="male"> male </label>
        <input type="radio" id="female" value="f" name="gender"
               th:field="*{sex}" th:value="f" th:id="female" th:name="gender"  />
        <label for="female" th:text="female" th:for="female"> female </label>


        <hr>
        <!--    Country (country) field: -->
        <input type="text" value="country" placeholder="Your home country"
               th:field="*{country}" />
        <!--    City (city) field: -->
        <input type="text" value="city" placeholder="Your home city"
               th:field="*{city}" />
        </div>
        <input type="submit" value="Go">

    </form>

</body>
</html>