<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title> User menu </title>
</head>
<body>

    <div  th:fragment="user_menu" >

        <ul class="userMenu" >
            <li> <a href="#" th:href="@{'/user/' +${session.common_user.getUserId()}}" th:text="#{menu.myPage}"> My page </a>  </li>
            <li> <a href="#" th:href="@{'/friends'}" th:text="#{menu.friends}"> My friends </a> </li>
            <li> <a href="#" th:href="@{'/logout'}" th:text="#{menu.logout}"> Exit </a> </li>
        </ul>

    </div>



</body>
</html>